{{#> main}}
{{#*inline "body"}}
<div class="text-center text-white bg-slate-800 flex justify-center">
  <div class="max-w-xl py-6">
    <h1>{{title}}</h1>
    <p>作者:
      <a
        href="https://twitter.com/_hid3"
        target="_brank"
        class="underline"
      >@Hid3</a></p>
    <img src={{imagePath}} class="mt-6" />
    <img src="/svgs/hand-regular.svg" class="mt-6 bg-white w-36" />
  </div>
</div>
{{/inline}}
{{/main}}
